select
body {
  color: lightblue;
}

select
div {
  width: 700px;
  margin: auto;
  font-family:Arial, Arial, Helvetica, sans-serif;
  background: white;
  padding: 30px;; 
}

select
#main-header {
  font: size 22px;;
  color: red;
}

select
.perspective-questions {
  font-style: italic;
}
